.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    padding: 20px;
  }
  
  .item1 {
    background-color: lightcoral;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
  }
  
  .item2 {
    background-color: lightgreen;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  
  .item3 {
    background-color: lightgoldenrodyellow;
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }
  
  .ver {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    max-width: 200px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .divflex {
    display: flex;
  }
  
  .align {
    align-self: flex-end;
  }
  
  .align-end {
    align-self: flex-end;
  }
  
  .error-text {
    color: red;
    font-size: 0.9rem;
  }
  